nav {
    background-color: lightgray;
    text-align: left;
}

nav a {
    color: black;
}

/* p {
    text-align: center;
} */

.bold_text {
    font-weight: bold;
}

.bold_text {
    display: inline;
}

footer p {
    display:inline
}

img {
    height: 50px;
    width: 50px;
    display:inline
}