* {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
}

.title {
  display: block;
  margin: auto;
  width: 50%;
}

h1, h2, h3, h4 {
    text-align: center;
}

header {
    background-color: #faebd7;
    display: grid;
    grid-template-columns: 50px 1fr;
    border-bottom: 5px solid #8b4513;
    height: 50px;
    a {
        font-size: larger;
        text-decoration: none;
        width: 100%;
        text-align: center;
    }
}

nav {    
    display: flex;
    align-content: center;   
    justify-content: space-evenly;
}

.links {
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 50px;
}

nav a:hover {
  background-color: saddlebrown;
}

nav p {
    float:left;
    text-align:center
}

nav a {
    color: black;
    display: inline;
    text-decoration: none;
    font-size: larger;
}

.dropdown {
    position: relative;
    display: float;
    padding-right: 10px;
    height: 100%;
    a {
        height: 100%;
        text-align: center;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: saddlebrown;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 2;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#logo {
    height: 100%;
    width: 100%;
}

.gallery {
    padding: 5%;
    padding-bottom: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    img {
        width: 40%;
        height: 40%;
    }
}

p {
    text-align: center;
}

.intro {
    border: 4px solid saddlebrown;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
}

.body-text {
    border: 4px solid saddlebrown;
    margin: 10% 20%;
    padding: 5%;
}

.bold_text {
    font-weight: bold;
}

.bold_text {
    display: inline;
}

.hidden {
    font-size: 1px;
    color: antiquewhite;
}

footer {
    margin: 5%;
}

#xenos {
    margin: 0 auto;
    display: flex;
}

#sub_gallery {
    display: flex;
    padding: 5%;
    padding-bottom: 0;
    justify-content: space-around;
}

#features {
    margin: 0 0;
    width: 100%;
}

#secret {
    color: antiquewhite;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 40%;
  margin: 0% auto;
  margin-bottom: 5%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: saddlebrown;
  color: white;
}

ul {
    margin: 0 10%;
}


#psycasts {
    width: 100%;
}