nav a{
    color: antiquewhite;
}

body {
    background-color: black;
}

div {
        border: 2px solid lightcyan;
        padding: 5%;
        margin: 20%;
        margin-top: 5%;
}

h1 {
    color: darkcyan;
    text-align: center;
}

h2 {
    color: lightblue;
    text-align: center;
}

h3 {
    color: rgb(222, 240, 255);
    text-align: center;
}

p {
    color: antiquewhite;
    line-height: 1.2;
    text-align: center;
}

.bold_text {
    font-weight: bold;
}

ul p {
    display: inline;
}

li {
    color: antiquewhite;
}